# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Playwright
test-results/
playwright-report/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local
